body {
  font-family: Roboto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.quizMainContainer {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
  margin-top: 4%;
  order: 1;
}

.crtcHeader {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;
  height: 50px;
  color: black;
  order: 1;

  position: sticky;
 
  background: #FFFFFF;
  /* Elevation/1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.questionsContainer {
  /* Questions Container */
  display: flex;
  flex-direction: column;
  margin-top: 0.4%;
  padding: 1%;
  height: 98%;

  background: #FFFFFF;
  /* Elevation/1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.questionSizeWrapper{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  height: 100%;
  width: 50%;
  padding: 0 3%;
  /* background: rgba(0, 0, 0, 0.04); */
}

/*Remove excess padding in very small screens*/
@media(max-width: 480px){
  .questionsContainer{
    padding: 3px;
  }

    .questionSizeWrapper {
      display: flex;
      flex-direction: column;
      align-self: center;
      align-items: stretch;
      height: 100%;
      width: fit-content;
      padding:0;
    }
}

.actualQuestion {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;

  width:100%;
  height:100%;
  padding: 1% 5%;

  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.questionImage {
  max-width: 100%;
  height: auto;
}

.answerImage {
  max-width: 90%;
  height: auto;
  border: solid 6px transparent;
}

.answerBorder {
  border:  solid 6px #238ad3;
}

.answersContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  height: 100%;

  background: #FFFFFF;
  /* Elevation/1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.genericContainer {
  display: flex;
  flex-direction: column;
  margin: 1% 2% 0 2%;
  padding: 1%;
  height: 95%;
  background: #FFFFFF;
  /* Elevation/1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  margin: 0.9% auto;
  
  padding: 2%;

  width: 50%;
  height: 95%;

  background: #FFFFFF;
  /* Elevation/1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.instructionsPhoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.instructionsPhoto img {
  max-width: 100%;

}

.beginTestBtn {
  display: flex;
  width: 100%;
  margin: 4% auto;
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  margin: 0.9% auto;

  padding: 2%;

  width: 50%;
  height: 95%;

  background: #FFFFFF;
  /* Elevation/1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.finishRavenTestBtn {
  display: flex;
  align-content: stretch;
  width: 100%;
  margin: 4% auto;
  height: 3.5em;
}

.adminHeader {
  position: fixed;
  /* height: 64px; */
  color: #1E1E1E;

  background: #FFFFFF;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.adminContent{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height:calc(100vh - 56px);
  width: 100%;
  overflow: auto; /*If something ever goes wrong, this might be the culprit*/
  margin: 52px 0.35% 0 0.35%;
  padding: 1%;
  background: #FFFFFF;
  /* Elevation/1 */
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.viewResultsContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.dataGridHeader {
  font-weight: bold;
}

.viewResultsContainer a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.clientsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.listSubheader{
  background-color:#1E1E1E;
  padding: 1.5%;
}

.listShadow{
  background: #FFFFFF;
 
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.userDetailsCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
}

#modalMainContainer {
  display: flex;
  flex-direction: column;
}

#modalHeader{
  padding: 0.5em;

  display: flex;
  flex-direction: row;
}

#modalContent{
  padding: 1em;

  display: flex;
  flex-direction: column;
}

#modalContent #mainContent{
  display: flex;
  flex-direction: row;

  height: 100%;
}

#modalActions {
  padding: 1em;
  margin-left: auto;
}

#testSettings{
  width: 100%;
}

#mainContent #leftFrame {
  width: 18%;
  padding: 0.5em;
  
}
#mainContent #rightFrame{
  flex-grow: 1;
  padding: 0.5em;
}

#modalSettingsContainer{
  padding: 0 0.5em;
}

#modal-matrixContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.modal-questionMatrix{
  width:100px;
  height:100px;
  border: 2px solid #BDBDBD;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.qm-ImageList{
  align-items: center;
  width: 100px;
  height: 100px;
}

.questionAddImageBtn{
  
}

.qm-placeholder{
  border: 7px solid rgba(0, 0, 0, 0.23)
}

.addQuestionItemBtn{
  background-color: #e0e0e0;
}

.addQuestionItemBtn:hover {
  background-color: #a0a0a0;
}

.greenBorder{
  border: 7px solid green;
}

.transparentBorder {
  border: 7px solid transparent;
}

.greyBorder{
  border: 7px solid #BDBDBD;
}

#canvasContainer{
  display: flex;
  flex-direction: row;

  max-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

#toolbox{
  width: 15%;
  max-height: 95vh;
  overflow-y: auto;
}

#canvasMiddleCol {
  width: 65%;
  display: flex;
  flex-direction: column;
}

#canvasSubmit{
  align-self: center;
  
}

#canvasWorkspace{
  width: 100%;
  height: 85vh;

  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:inherit;
  
}

#rightBar {
  width: 20%;
  max-height: 95vh;
  
}

.stage {
  background-color: darkkhaki;
}

.layer{
  background-color:#FFFFFF;
}

.matrix{
  outline: 2px solid gray;
}

.matrix.selected{
  outline: 5px solid rgb(13, 107, 153);
}

.gridMatrix {
  display: flex;
  justify-content: center;
  align-self: center;
}

.clipboardItem {
  width: fit-content;
  border: 4px solid gray;
}

 #shapeContextMenu {
   display: none;
   position: absolute;
   width: 60px;
   background-color: white;
   box-shadow: 0 0 5px grey;
   border-radius: 3px;
 }

#previewMatrix{
  width: 60%;
  height: 100%;
  background-color: #f5f5f5;

  margin: 0 auto;
  padding: 4em;

  display: flex;
}

#yesNo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0.5em; 
  row-gap: 0.5em; 
}